.container{

    display:flex;
    flex-direction: column;
}

.section{
    display:flex;
    flex-direction: row;
   


}
.more {
    display: flex;
    flex-direction: row;
    gap: 40px;
    /* margin: 0 auto;
    margin-top: 85px;
    margin-bottom: 50px; */

}

.more button{
    cursor: pointer;
}
